.homepage {
  margin-top: var(--gap-xxl);
  margin-bottom: var(--gap-xxl);
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxl);
}

.otherPostsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--gap-l);
}
